<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Meu Layout Simples</title>
</head>
<body>
    <header>
        <h1>Company Logo</h1>
    </header>
    
    <div class="container">
        <main class="conteudo">
            <h2>VOCÊ É TEAM #MAGALI OU TEAM #PIT?</h2>
            <p>Venha descobrir o que aconteceu e exponha em qual lado você está! Será que existe algum lado certo nesta história?</p>
        </main>
    </div>

    <!-- Área dos Quadros -->
    <div class="quadro-container">
        <div class="quadro">
            <h2>Company logo</h2>
            <div class="separador"></div>
            <h3>Lorem ipsum SIA Amet</h3>
        </div>

        <div class="quadro">
            <h2>Windows</h2>
            <div class="separador"></div>
            <h3>Code</h3>
            <ul class="codigo-lista">
            </ul>
        </div>

        <div class="quadro">
            <h2>Título</h2>
            <div class="separador"></div>
            <ul class="codigo-lista">

            </ul>
            <p><small>Rodapé - Todos os direitos reservados.</small></p>
        </div>
    </div>

    <footer>
        <p>Rodapé - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
